@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root{
    --bg-black-900:#f4f0f0;
    --bg-black-100:hsl(0, 0%, 85%);
    --bg-black-50:#e8dfec;
    --text-black-900:#302e4d;
    --text-black-700:#504e70;
    --skin-color:#ec1839;
    --box-shadow:0 .5rem 1rem rgba(240, 217, 6, 0.1);
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: double line;
    text-transform:capitalize;
    transition: all .2s linear;
}
::before,::after{
    box-sizing: border-box;
}
.main-container{
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    background: #fff;
    box-shadow: var(--box-shadow);
    background-color: var(--bg-black-900);
}
.home .container.home-img{
    display: flex;
}
.section{
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    padding: 0px 30px;
    opacity: 1;
    
}
.container{
    display: flex;
}
.container img{
    width: 250px;
    height: 400px;
    flex: 40% 40% 40%;
    position: relative;
}
.aside{
    display:flex;
}
.aside .logo{
    margin-left: 40px;
    padding: 5px;
    font-size: 20px;
    font-family: 'Lobster', cursive;
    border-radius: 1rem;
    font-weight: bolder;
    color: #365CDD;
}
.aside .logo span{
    font-size: 60px;
    color: red;
}
.aside .navbar li{
    font-size: 16px;
    display:inline-block;
    margin-inline: 50px;
    margin-top: 20px;
    font-family: 'Teko', sans-serif;
}
.aside .navbar li a{
    font-size: 16px;
    font-weight: 600;
    margin-top: 100px;
    display: inline;
    background-color: rgb(255, 174, 0);
    border: 2.5px solid black;
    color: var(--text-black-900);
    padding: 5px 25px;
    border-radius: 1rem;

}
.aside .navbar li a i{
    margin-right: 15px;
}
/*home*/

.home{
    min-width: 100vh;
    display: inline;
    color: var(--text-black-900);
}
.home .home-info-padd-15{
    flex: 0 0 60%;
    max-width: 60%;
    margin: 500px;
}
h3.hello{
    font-size: 28px;
    margin: 15px 0px;
}
h3.hello span{
    font-family: 'Clicker Script', cursive;
    font-size: 30px;
    font-weight: 700;
    color: var(--skin-color);
}
/*About*/
.about .about-content{
    flex: 0 0 100%;
    max-width: 60%;
    background-color: var(--bg-black-100);
    padding: 20px;
    border-radius: 1rem;
}
.about .about-content .about-text{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .about-text h3{
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--text-black-900);
}
.about .about-content .about-text h3 span{
    color: var(--skin-color);
}
.about .about-content .about-text p{
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
    margin-left: 10px;
    font-size: 25px;
    text-decoration: underline;

}
.about .about-content .personal-info{
    flex: 0 0 60%;
    max-width: 60%;
    margin-top: 40px;
}
.about .about-content .personal-info .info-item{
    flex: 0 0 50%;
    max-width: 50%;
}
.about .about-content .personal-info .info-item p{
    font-weight: 600;
    padding: 10px 0px;
    font-size: 16px;
    color: var(--text-black-900);
    border-bottom: 1px solid var(--bg-black-50);
}
.about .about-content .personal-info .info-item p span{
    font-weight: 700;
    color: var(--text-black-700);
    margin-left: 4px;
    display: inline-block;
}
.about .about-content .personal-info .buttons{
    margin-top: 30px;
}
.about .about-content .personal-info .buttons .btn{
    margin-right: 15px;
    margin-top: 10px;
}
.container h2{
    color: #ec1839;
    font-size: 50px;    
}